<!DOCTYPE html>
 <html lang="en" xmlns:ng="http://angularjs.org" id="ng-app" ng-app="chattyApp">
    <head>
        <meta charset="utf-8">
        <title>Chatty</title>

        <!--[if lt IE 9]>
            <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
            <script src="@Url.Content("~/Scripts/libs/json2.js")"></script>

        <![endif]-->
        <title>@ViewBag.Title</title>
        <script src="@Url.Content("~/Scripts/jquery-2.1.1.min.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/libs/jquery-ui-1.10.3.custom.min.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/jquery.signalR-2.1.0.min.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/js/libs/jquery.jsonp.js")" type="text/javascript"></script>
        @Styles.Render("~/Content/reset.css")
        @Styles.Render("~/Content/global.css")
        @Styles.Render("~/Content/jquery-ui.css")

    </head>
    @RenderBody()

</html>
