@model BackOffice.Models.AdminModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<body ng-controller="AdminTabCtrl">

    <!--[if lt IE 9]>
        <script src="@Url.Content("~/Scripts/libs/hackIe.js")"></script>
    <![endif]-->
    <section class="container">

        <nav class="mainnav">
            <div>
                <ul>
                    <li class="{{getTabClass(0)}}"><a href="#" ng-click="setTab(0)" class="users" title="Users"></a></li>
                    <li class="{{getTabClass(1)}}"><a href="#" ng-click="setTab(1)" class="departments" title="Departments"></a></li>
                    <li class="{{getTabClass(2)}}"><a href="#" ng-click="setTab(2)" class="discussions" title="Conversations"></a></li>
                  </ul>
                <div class="logout">
                    @using (Html.BeginForm("LogOff", "Auth", FormMethod.Post, new { id = "logoutForm" }))
                    {
                        @Html.AntiForgeryToken()
                        <button title="Logout"></button>
                    }
                </div>
            </div>
        </nav>
        <section class="content" ng-controller="AdminCtrl" id="adminCtrl">
            <div class="" id="response"></div>
            <div class="tab_content {{getTabClass(0)}}" >
                @Html.Partial("_UsersAdmin")
            </div>
            <div class="tab_content {{getTabClass(1)}}" >
                @Html.Partial("_DepartmentsAdmin")
            </div>
            <div class="tab_content {{getTabClass(2)}}">
                @Html.Partial("_ConversationsAdmin")
            </div>
            </div>
        </section>
    </section>

    <script src="@Url.Content("~/Scripts/angular.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/directive/compile.directive.js")"></script>
    <script src="@Url.Content("~/Scripts/app.js")"></script>
    <script src="@Url.Content("~/Scripts/model/user.model.js")"></script>
    <script src="@Url.Content("~/Scripts/model/department.model.js")"></script>

    <script src="@Url.Content("~/Scripts/factory/chattyservice.factory.js")"></script>
    <script src="@Url.Content("~/Scripts/controller/tab.controller.js")"></script>
    <script src="@Url.Content("~/Scripts/controller/admin.controller.js")"></script>
    <script src="@Url.Content("~/Scripts/controller/conversations.controller.js")"></script>
    <script src="@Url.Content("~/Scripts/controller/departments.controller.js")"></script>
    <script src="@Url.Content("~/Scripts/controller/users.controller.js")"></script>
    <script src="@Url.Content("~/Scripts/directive/numbersOnly.directive.js")"></script>
    <script src="@Url.Content("~/Scripts/directive/onBlur.directive.js")"></script>
    <script src="@Url.Content("~/Scripts/directive/onEnter.directive.js")"></script>
    <script src="@Url.Content("~/Scripts/directive/onBlurEnter.directive.js")"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            init({
                adminUserName: "@Model.ConnectedAdmin.Username",
                adminId: "@Model.ConnectedAdmin.Id",
                adminToken: "@Model.ConnectedAdmin.Token",
                restUrl: "@Model.RestURL"
            });
        });
    </script>
</body>